/* Slideshow */
span.field-content {color: white;}

/* Nav */
.navigation .primary-menu ul li a.active, .navigation .second-menu ul li a.active {color: #28752B !important; font-weight: bold !important;}

/* Toolbar */
.view-header, .toolbar-menu, #toolbar{
  background: #28752b; /* Old browsers */
  background: -moz-linear-gradient(top, #28752b 0%, #005101 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#28752b), color-stop(100%,#005101)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #28752b 0%,#005101 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #28752b 0%,#005101 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #28752b 0%,#005101 100%); /* IE10+ */
  background: linear-gradient(to bottom, #28752b 0%,#005101 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28752b', endColorstr='#005101',GradientType=0 ); /* IE6-9 */
}

li.depth-2:hover a {background: black;}

body.toolbar div.toolbar-menu li.depth-2:hover a, body.toolbar div.toolbar-menu #toolbar-user li:hover a, body.toolbar div.toolbar-menu li.depth-2 a.active, body.toolbar div.toolbar-menu li.active-trail a
{}

.block-menu-user-menu .content ul.menu li a:hover {background-color: #28752b;}


/* Footer changes */
.zone-footer-wrapper {
  background: #28752b; /* Old browsers */
  background: -moz-linear-gradient(top, #28752b 21%, #1e4c1a 62%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(21%,#28752b), color-stop(62%,#1e4c1a), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #28752b 21%,#1e4c1a 62%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #28752b 21%,#1e4c1a 62%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #28752b 21%,#1e4c1a 62%,#000000 100%); /* IE10+ */
  background: linear-gradient(to bottom, #28752b 21%,#1e4c1a 62%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28752b', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.zone-footer2-wrapper {background-color: black;}


/* shopping cart */
.block-shopping-cart-block .content .view-shopping-cart .line-item-summary .line-item-quantity {color: #28752b; font-weight: bold;}

div.messages.commerce-add-to-cart-confirmation {background-color: #3b9b3e; border-color: #28752b; color: white;}

div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper {background-color: #28752b;}
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button {background-color: white; color: #28752b;}

div.messages.commerce-add-to-cart-confirmation .message-inner .added-product-title, 
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display
.view-content .views-field-commerce-product .content .commerce-product-sku .commerce-product-sku-label,
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display
.view-content .views-field-commerce-product .content .commerce-product-sku,
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display
.view-content .views-field-commerce-product .content .field,
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content .views-field-quantity .views-label-quantity,
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content .views-field-commerce-total .views-label-commerce-total,
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content .views-field-commerce-total .field-content
{color: white;}

div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.checkout {background-color: #3b9b3e;}

